<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Department Assistance System</title>
    <link rel="stylesheet" href="../CSS/subsections.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../Images/logo.jpg" alt="PDAS Logo">
        </div>
        <div class="emblem">
            <img src="../Images/Emblem.png" alt="Emblem">
        </div>
        <div class="edit-profile">
            <a href="#edit-profile">
                <img src="profile.png" alt="Edit Profile">
            </a>
        </div>
    </header>

    <!-- Main Section -->
    <main>
        <div class="section">
            <a href="#"><h2>Area Wise real time camera footoage</h2></a>
            
        </div>
        <div class="section">
            <a href href="#"><h2>Record of past alerts</h2></a>
           
        </div>
        
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Police Department Assistance System. All Rights Reserved.</p>
    </footer>
</body>
</html>
