/* Base Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fdfefe;
  margin: 0;

}

/* Main Container Styling */
.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Flexbox Layout for Side-by-Side Display */
.app-container {
  display: flex;
  gap: 20px;
}

/* Individual Component Styling */
.component-container2 {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Input Group Styling */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input[type="text"], select {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #faebeb;
  border-radius: 5px;
}

/* Button Styling */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

/* List Item Styling */
.lid{
  background: #ffffff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

li button {
  margin-left: 5px;
}

/* Filter Section Styling */
.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter select {
  width: auto;
}
